<ul>
	<li>
		<div class="settings-header">
			<div class="info">Language Settings</div>
			<div class="label"></div>
		</div>
		<div class="setting-content">
			<div class="info"></div>
			<div class="selection"></div>
		</div>
	</li>
	<hr>
	<li>
		<div class="settings-header">
			<div class="info">Timezone Settings</div>
			<div class="label"></div>
		</div>
		<div class="setting-content">
			<div class="info"></div>
			<div class="selection"></div>
		</div>
	</li>
	<hr>
	<li>
		<div class="settings-header">
			<div class="info">Notification Settings</div>
			<div class="label"></div>	
		</div>
		<div class="setting-content">
			<div class="info">New Followers</div>
			<div class="selection"></div>
		</div>
		<div class="setting-content">
			<div class="info">New Comments</div>
			<div class="selection"></div>
		</div>
		<div class="setting-content">
			<div class="info">New Likes</div>
			<div class="selection"></div>
		</div>
		<div class="setting-content">
			<div class="info">New Mentions</div>
			<div class="selection"></div>
		</div>
	</li>
</ul>
