<div class="col-md-6 col-md-offset-3">
	<h2>Forgot Password</h2>
	<form name="forgotpasswordForm" ng-submit="vm.forgotpassword(forgotpasswordForm.$valid)" novalidate>	
		<div class="form-group" ng-class="{ 'has-error': forgotpasswordForm.username.$dirty && forgotpasswordForm.username.$error.required }">		
			<label for="username">Username</label>
			<input type="email" name="username" id="username" class="form-control" ng-model="vm.username" required />
			<span ng-show="forgotpasswordForm.username.$dirty && forgotpasswordForm.username.$error.required" class="help-block">{{getError(forgotpasswordForm.username.$error, 'username')}}</span>
		</div>
		
		<div class="form-actions">
			<button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Submit</button>
			<a href="#/login" class="btn btn-link">Cancel</a>
		</div>
	</form>
</div>