<div>
	<div id="newsFeed">
		<div class="post-textarea" ng-class="{ 'has-error': vm.currentPost.content.$dirty && vm.currentPost.content.$error.required }">
			<textarea class="form-control" placeholder="What do you need right now? Start a conversation..." rows="3" ng-model="vm.currentPost.content" required ></textarea>
			<tags-input class="bootstrap"
						ng-model="vm.currentPost.categories"
						placeholder="Add a category"
						replace-spaces-with-dashes="false"
						ng-show="vm.busoppPost">
				<auto-complete source="loadTags($query)"></auto-complete>
			</tags-input>
			<div class="button-container">
				<a class="btn btn-primary btn-sm btn-post" ng-hide="vm.busoppPost" ng-click="vm.addPost(vm.currentPost.content)">Post</a>
				<a class="btn btn-primary btn-sm btn-post" ng-show="vm.busoppPost" ng-click="vm.addBusoppPost(vm.currentPost)">Post</a>
				<a class="btn btn-addImage" ng-click="alert('addImageToPost')">
					<i class="fa fa-camera fa-lg"></i>
				</a>
				<input type="checkbox" ng-model="vm.busoppPost">
				<span>Check if Business Opportunity Post</span>
			</div>
		</div>
		<div class="clearfix"></div>
		<div>
			<ul class="media-list">
				<li class="media post" ng-repeat="post in vm.posts">
					<div class="post-main">
						<div class="media-body post-header">
							<a href="#/members/{{post.post_author.userName}}" class="pull-left">
								<img ng-src="{{post.post_author.avatar}}" alt="" class="img-circle" width="60px">
							</a>
							<a href="#/members/{{post.post_author.userName}}" class="author-name"><strong >{{post.post_author.firstName + ' ' + post.post_author.lastName}}</strong></a>
							<div class="author-company">{{post.post_author.companyName}}</div>
							<small class="text-muted"><span am-time-ago="post.created_at"></span></small>,
							<small class="text-muted">{{post.post_author.location}}</small>
						</div>
						<div class="clearfix"></div>
						<div class="post-content">{{post.content}}</div>
						<hr>
						<div class="post-buttonGroup">
							<a ng-click="vm.likePost(post)" ng-hide="post.isLiked">Like</a>	
							<a ng-click="vm.unLikePost(post)" ng-show="post.isLiked">Liked</a>
							<a ng-click="vm.focusCommentBox()">Comment</a>
						</div>
					</div>

					<div class="comment">
						<div class="post-likers">
							<div class="post-likers-container" ng-mouseover="showLikers = true" ng-mouseleave="showLikers = false">
								<div ng-show="post.likes_count !== 0">
									<i class="fa fa-thumbs-up fa-lg"></i>
									<small class="text-muted">
										{{post.likes_count}} people liked this
									</small>
									<ul class="post-likers-list" ng-show="showLikers">
										<li class="text-muted" ng-repeat="liker in post.likers"><a><small>{{liker.firstName + ' ' + liker.lastName}}</small></a></li>
									</ul>
								</div>
							</div>
						</div>	
						<hr>
						<ul class="media-list">
							<li class="media" ng-repeat="comment in post.comments">
								<a href="#/members/{{comment.comment_author.userName}}" class="pull-left">
									<img ng-src="{{comment.comment_author.avatar}}" alt="" class="img-circle" width="40px">
								</a>
								<div class="media-body comment-header">
										<span class="text-muted pull-right">
											<small class="text-muted"><span am-time-ago="comment.created_at"></span></small>
										</span>
										<a href="#/members/{{comment.comment_author.userName}}" ><strong>{{comment.comment_author.firstName + ' ' + comment.comment_author.lastName}}</strong></a>
										<p><small class="text-muted">{{comment.comment_author.companyName}}</small></p>
								</div>

								<div class="clearfix"></div>
								<div class="comment-content">{{comment.content}}</div>
							</li>
						</ul>

						<div class="media comment-textarea">
							<a href="#/members/{{vm.currentPost.post_author.userName}}" class="pull-left">
								<img ng-src="{{vm.currentPost.post_author.avatar}}" alt="" class="img-circle" width="30px">
							</a>
							<div class="media-body">
								<textarea class="form-control" placeholder="Type comment here..." rows="1" ng-model="vm.currentComment.content"></textarea>
								<a class="btn btn-primary btn-submit-comment" ng-click="vm.addComment(post,vm.currentComment.content)">
									<i class="fa fa-paper-plane"></i>
								</a>	
							</div>
						</div>
					</div>

				</li>
			</ul>
		</div>

	</div>
</div>
