<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header" style="padding-top: 10px; padding-bottom: 10px;width: 100%;">
			<img ng-src="assets/img/entreprenity-logo.png" width="150px">
			<button type="button" class="navbar-toggle navbar-right" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" style="display:block;">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
	</div>
</div>

<div style="max-width: 1000px; margin: 0 auto;">
	<div class="directory">
		<uib-tabset active="active">
			<uib-tab index="0" heading="Members">
				<div class="col-md-3">
					<div class="side-filters">
						<label>SEARCH
							<input type="text" class="form-control" placeholder="Search for member" ng-model="searchedMember">
						</label>
						<label>LOCATION 
							<div>
								<select ng-model="selectedCity" ng-options="member.city for member in vm.members">
									<option value="">All Locations</option>
								</select>
							</div>
						</label>	
					</div>
				</div>
				<div class="col-md-9">
					<ul class="directory-members">
						<li ng-repeat="member in vm.members | filter:searchedMember | filter:selectedCity ">
							<a ng-href="/members/{{member.id}}">
								<div>
									<img class="img-circle" ng-src="assets/img/{{member.avatar}}">
									<h3>{{member.firstName + ' ' + member.lastName}}</h3>
									<p>{{member.position}}</p>
									<p>{{member.companyName}}</p>
									<hr>
									<button class="btn btn-default">FOLLOW</button>
								</div>
							</a>
						</li>
					</ul>				
				</div>
			</uib-tab>
			<uib-tab index="1" heading="Companies">
				<div class="col-md-3">
					<div class="side-filters">
						<label>SEARCH
							<input type="text" class="form-control" placeholder="Search for company" ng-model="searchedCompany">
						</label>
						<label>LOCATION  
							<div>
								<select ng-model="selectedCity2" ng-options="company.city for company in vm.companies">
									<option value="">All Locations</option>
								</select>
							</div>
						</label>
					</div>
				</div>
				<div class="col-md-9">
					<ul class="directory-companies">
						<li ng-repeat="company in vm.companies | filter:searchedCompany | filter:selectedCity2">
							<a ng-href="/companies/{{company.id}}">
								<div>
									<div class="top-part">
										<img ng-src="assets/img/{{company.avatar}}">
									</div>
									<h3>{{company.companyName}}</h3>
									<p>{{company.city}}</p>
									<p>{{company.description}}</p>
									<hr>
									<button class="btn btn-default">FOLLOW</button>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</uib-tab>
			<uib-tab index="2" heading="Events">
				<div class="col-md-3">
					<div class="side-filters">
						<label>SEARCH
							<input type="text" class="form-control" placeholder="Search for company" ng-model="searchedEvent">
						</label>
						<label>LOCATION 
							<div>
								<select ng-model="selectedCity3" ng-options="event.city for event in vm.events">
									<option value="">All Locations</option>
								</select>
							</div>
						</label>
					</div>
				</div>
				<div class="col-md-9">
					<ul class="directory-events">
						<li ng-repeat="event in vm.events | filter:searchedEvent | filter:selectedCity3">
							<img ng-src="assets/img/{{event.poster}}">
							<a ng-href="/events/{{event.id}}">
								<h3>{{event.eventName}}</h3>
								<p>{{event.date}}</p>
								<p>{{event.time}}</p>
								<p>{{event.city}}</p>
								<p>{{event.description}}</p>
								<hr>
								<button class="btn btn-default">JOIN</button>
							</a>
						</li>
					</ul>					
				</div>
			</uib-tab>
		</uib-tabset>
	</div>
</div>