<div style="max-width: 1000px; margin: 0 auto;">
	<div class="directory" ng-controller="DirectoryController as vm">
		<uib-tabset active="active">
			<uib-tab index="0" heading="Members">
				<div class="col-md-3">
					<label>Location: 
						<span  class="nullable">
							<select ng-model="selectedCity" ng-options="member.city for member in vm.members">
								<option value="">All Locations</option>
							</select>
						</span>
					</label>	
				</div>
				<div class="col-md-9">
					<ul class="directory-members">
						<li ng-repeat="member in vm.members | filter:selectedCity">
							<a ng-href="/members/{{member.id}}">
								<div>
									<img class="img-circle" ng-src="assets/img/members/{{member.avatar}}">
									<h3>{{member.firstName + ' ' + member.lastName}}</h3>
									<p>{{member.position}}</p>
									<p>{{member.company}}</p>
									<hr>
									<button class="btn btn-primary">FOLLOW</button>
								</div>
							</a>
						</li>
					</ul>				
				</div>
			</uib-tab>
			<uib-tab index="1" heading="Companies">
				<div class="col-md-3">
					<label>Location: 
						<span  class="nullable">
							<select ng-model="selectedCity2" ng-options="company.city for company in vm.companies">
								<option value="">All Locations</option>
							</select>
						</span>
					</label>
				</div>
				<div class="col-md-9">
					<ul class="directory-companies">
						<li ng-repeat="company in vm.companies | filter:selectedCity2">
							<a ng-href="/companies/{{company.id}}">
								<div>
									<div class="top-part">
										<img ng-src="assets/img/companies/{{company.avatar}}">
									</div>
									<h3>{{company.companyName}}</h3>
									<p>{{company.city}}</p>
									<p>{{company.description}}</p>
									<hr>
									<button class="btn btn-primary">FOLLOW</button>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</uib-tab>
			<uib-tab index="2" heading="Events">
				<div class="col-md-3">
					<label>Location: 
						<span  class="nullable">
							<select ng-model="selectedCity3" ng-options="event.city for event in vm.events">
								<option value="">All Locations</option>
							</select>
						</span>
					</label>				
				</div>
				<div class="col-md-9">
					<ul class="directory-events">
						<li ng-repeat="event in vm.events | filter:selectedCity3">
							<a ng-href="/events/{{event.id}}">
								<div>
									<div class="top-part">
										<img ng-src="assets/img/events/{{event.poster}}">
									</div>
									<h3>{{event.eventName}}</h3>
									<p>{{event.date}}</p>
									<p>{{event.time}}</p>
									<p>{{event.city}}</p>
									<p>{{event.description}}</p>
									<hr>
									<button class="btn btn-primary">JOIN</button>
								</div>
							</a>
						</li>
					</ul>					
				</div>
			</uib-tab>
		</uib-tabset>
	</div>
</div>