<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header" style="padding-top: 10px; padding-bottom: 10px;width: 100%;">
			<img ng-src="assets/img/entreprenity-logo.png" width="150px">
			<button type="button" class="navbar-toggle navbar-right" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" style="display:block;">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
	</div>
</div>

<div style="max-width: 1000px; margin: 0 auto;">
	<div class="directory">
		<uib-tabset active="active">
			<uib-tab index="0" heading="Members">
				<div class="col-md-3">
					<div class="side-filters">
						<label>SEARCH
							<input type="text" class="form-control" placeholder="Search for member" ng-model="searchedMember">
						</label>
						<label>LOCATION 
							<div>
								<select ng-model="selectedCity">
									<option value="">All Locations</option>
									<option ng-repeat="location in vm.locations" value="{{location.location_desc}}">{{location.location_desc}}</option>
								</select>
							</div>
						</label>	
					</div>
				</div>
				<div class="col-md-9">
					<ul class="directory-members" infinite-scroll='vm.members.nextPage()' infinite-scroll-disabled='vm.members.busy'  infinite-scroll-distance='0'>
						<li ng-repeat="member in vm.members.items | filter:searchedMember | filter:selectedCity">
							<a ng-href="#/members/{{member.id}}">
								<div>
									<img class="img-circle" ng-src="assets/img/members/{{member.avatar}}">
									<h3>{{member.firstName + ' ' + member.lastName}}</h3>
									<p>{{member.position}}</p>
									<p>{{member.companyName}}</p>
									<p>{{member.city}}</p>
									<hr>
									<button class="btn btn-default">FOLLOW</button>
								</div>
							</a>
						</li>
						<div ng-show='vm.members.busy'>Loading data...</div>
					</ul>		
				</div>
			</uib-tab>
			<uib-tab index="1" heading="Companies">
				<div class="col-md-3">
					<div class="side-filters">
						<label>SEARCH
							<input type="text" class="form-control" placeholder="Search for company" ng-model="searchedCompany">
						</label>
						<label>LOCATION  
							<div>
								<select ng-model="selectedCity2">
									<option value="">All Locations</option>
									<option ng-repeat="location in vm.locations" value="{{location.location_desc}}">{{location.location_desc}}</option>
								</select>
							</div>
						</label>
					</div>
				</div>
				<div class="col-md-9">
					<ul class="directory-companies" infinite-scroll='vm.companies.nextPage()' infinite-scroll-disabled='vm.companies.busy'  infinite-scroll-distance='0'>
						<li ng-repeat="company in vm.companies.items | filter:searchedCompany | filter:selectedCity2">
							<a ng-href="/companies/{{company.id}}">
								<div>
									<div class="top-part">
										<img ng-src="assets/img/companies/{{company.avatar}}">
									</div>
									<h3>{{company.companyName}}</h3>
									<p>{{company.city}}</p>
									<p>{{company.description}}</p>
									<hr>
									<button class="btn btn-default">FOLLOW</button>
								</div>
							</a>
						</li>
						<div ng-show='vm.companies.busy'>Loading data...</div>
					</ul>
				</div>
			</uib-tab>
			<uib-tab index="2" heading="Events">
				<div class="col-md-3">
					<div class="side-filters">
						<label>SEARCH
							<input type="text" class="form-control" placeholder="Search for company" ng-model="searchedEvent">
						</label>
						<label>LOCATION 
							<div>
								<select ng-model="selectedCity3">
									<option value="">All Locations</option>
									<option ng-repeat="location in vm.locations" value="{{location.location_desc}}">{{location.location_desc}}</option>
								</select>
							</div>
						</label>
					</div>
				</div>
				<div class="col-md-9">
					<ul class="directory-events" infinite-scroll='vm.events.nextPage()' infinite-scroll-disabled='vm.events.busy'  infinite-scroll-distance='0'>
						<li ng-repeat="event in vm.events.items | filter:searchedEvent | filter:selectedCity3">
							<img ng-src="assets/img/events/{{event.poster}}">
							<a ng-href="/events/{{event.id}}">
								<h3>{{event.eventName}}</h3>
								<p>{{event.date}}</p>
								<p>{{event.time}}</p>
								<p>{{event.city}}</p>
								<p>{{event.description}}</p>
								<hr>
								<button class="btn btn-default">JOIN</button>
							</a>
						</li>
						<div ng-show='vm.events.busy'>Loading data...</div>
					</ul>					
				</div>
			</uib-tab>
		</uib-tabset>
	</div>
</div>