<div style="max-width: 1000px; margin: 0 auto;">
	<div class="home">
		<div class="row">
			<div class="col-md-3">
				<div class="profile-timeline center" style="text-align: center; font-size: 30px; border: 1px solid black; height: 70vh;">
					<a ng-href="#/myprofile/{{vm.id}}">MY PROFILE</a>
					</br>	
					<a ng-href="#/mycompany/1">MY COMPANY PROFILE</a>	
				</div>
			</div>

			<div class="col-md-9">
				<div class="profile-timeline center" style="text-align: center; font-size: 30px; border: 1px solid black; height: 70vh;">
					TIMELINE MODULE				
				</div>
			</div>
		</div>
	</div>
</div>



