@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100);

body {
	font-family: 'Lato', sans-serif;
}

.scanner-qr-code-container {
	border-top: 1px solid grey;
	background-color: #222;
	width: 100%;
	padding: 15px;
}

.scanner-qr-code {
	margin: 0 auto;
	max-width: 700px;
	text-align: center;
	color: #ffffff;
}

.scanner-qr-code h4 {
	padding: 20px;
}

.scanner-qr-code p {
	margin-bottom: 20px;
}

.scanner-qr-code .qr-container {
	position: relative;
	width: 280px;
	margin: 50px auto;
}

.scanner-qr-code .qr-container img {
	padding: 20px;
}

.scanner-qr-code .qr-container .corner-border {
	position: absolute;
	width: 30px;
	height: 30px;
	border: 2px solid orange;
}

.scanner-qr-code .qr-container .corner-border.tl {
	top: 0;
	left: 0;
	border-bottom-width: 0;
	border-right-width: 0;
}

.scanner-qr-code .qr-container .corner-border.tr {
	top: 0;
	right: 0;
	border-bottom-width: 0;
	border-left-width: 0;
}

.scanner-qr-code .qr-container .corner-border.bl {
	bottom: 0;
	left: 0;
	border-top-width: 0;
	border-right-width: 0;
}

.scanner-qr-code .qr-container .corner-border.br {
	bottom: 0;
	right: 0;
	border-top-width: 0;
	border-left-width: 0;
}

.scanner-qr-code .en-logo {
	width: 100px;
}

.scanner-qr-code #qr-canvas {
	display: none;
}

.scanner-qr-code #outdiv {
	width: 240px;
	height: 240px;
	margin: 15px;
}

.scanner-qr-code #v {
	width: 240px;
	height: 240px;
}

.scanner-qr-code .qr-table {
	margin-top: 20px;
	height: 400px;
	overflow-y: auto;
}

.scanner-qr-code .modal .modal-dialog .modal-content {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-family: 'Roboto', sans-serif;
}
.scanner-qr-code .modal .modal-dialog .modal-content .modal-header {
	padding: 30px 15px;
	border-bottom: 0;
}
.scanner-qr-code .modal .modal-dialog .modal-content .modal-body {
	padding-top: 30px;
	position: relative;
}
.scanner-qr-code .modal .modal-dialog .modal-content .modal-body .arrow-down {
	position: absolute;
	top: -1px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #f00;
}
.scanner-qr-code .modal .modal-dialog .modal-content .modal-body p {
	font-size: 25px;
}
.scanner-qr-code .modal .modal-dialog .modal-content .modal-body button.btn {
	padding: 6px 32px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-size: 15px;
}
.scanner-qr-code .modal .modal-dialog .modal-content .modal-body button.btn-primary {
	border-color: #f09a20 !important;
	background-color: #f09a20;
	color: #fff !important;
	border-width: 1px;
}
.scanner-qr-code .modal .modal-dialog .modal-content .modal-body button.btn-primary:hover {
	color: #f09a20 !important;
	background-color: transparent !important;
	transition: background 100ms ease-in-out;
}
.scanner-qr-code .modal#successModal .modal-dialog .modal-content .modal-header {
	background-color: #f09a20;
}
.scanner-qr-code .modal#successModal .modal-dialog .modal-content .modal-header img {
	background-color: #f09a20;
}
.scanner-qr-code .modal#successModal .modal-dialog .modal-content .modal-body .arrow-down {
	border-top-color: #f09a20;
}
.scanner-qr-code .modal#failureModal .modal-dialog .modal-content .modal-header {
	background-color: #bf2e2e;
}
.scanner-qr-code .modal#failureModal .modal-dialog .modal-content .modal-header img {
	background-color: #bf2e2e;
}
.scanner-qr-code .modal#failureModal .modal-dialog .modal-content .modal-body .arrow-down {
	border-top-color: #bf2e2e;
}



