<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header" style="padding-top: 10px; padding-bottom: 10px;width: 100%;">
			<img ng-src="assets/img/entreprenity-logo.png" width="150px">
			<button type="button" class="navbar-toggle navbar-right" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" style="display:block;">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
	</div>
</div>


<div style="max-width: 1000px; margin: 0 auto;">
	<div class="myProfile">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="coverPhoto">
						<img ng-src="assets/img/members/">
					</div>
					<div>
						<div class="profilePhoto">
							<img class=" "ng-src="assets/img/members/member01.jpg">
						</div>
						<p>KEN SIA</p>
						<p>Developer</p>
						<p>at VOFFICE</p>
						<div class="followers">
							<a><span>4</span>Followers</a>
							<a><span>20</span>Following</a>
						</div>
						<a class="btn btn-default">FOLLOW</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<div>
						<h1>ABOUT ME</h1>
						<hr>
						<p>Freelance WEb Developer who loves listening to music, surfing, and traveling</p>
					</div>
					<div>
						<h1>CONTACT</h1>
						<hr>
						<p><span>e:</span>ken.voffice@gmail.com</p>
						<p><span>w:</span>voffice.com.ph</p>
						<p><span>m:</span>09175296299</p>
					</div>
					<div>
						<h1>WORK/COMPANY</h1>
						<hr>
						<p>VOFFICE</p>
						<p>We provide businesses superior reach and access to South East Asia markets like Jakarta, Manila, Kuala Lumpur and Singapore. </p>
					</div>
					<div>
						<h1>SKILLS</h1>
						<hr>
						<p>Programming</p>
					</div>
					<div>
						<h1>INTERESTS</h1>
						<hr>
						<p>Design</p>
						<p>Surf</p>
						<p>Basketball</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


