<div style="max-width: 1000px; margin: 0 auto;">
	<div class="profile memberProfile">
		<form name="eventPosterForm" novalidate>
		<div class="row">
			<div class="col-md-12 ">
				<div class="profile-top">
					<div>Please  ADD an EVENT POSTER</div>
  					<br>
					<br><br><br>
					<div class="info">
						<div class="profilePhoto">
							<div>

								<a class="uploadPhoto" ng-click="vm.open()" >
									<img class="img-circle" src="assets/img/icon-edit.png">
								</a>
							</div>
						</div>
						<br>
						<div class="btn-group">
							<a class="btn btn-default"  ng-click="vm.finshEvent()">SAVE EVENT & SEND MAIL</a>	
						</div>
					</div>		
				</div>
			</div>
		</div>
		</form>

	</div>
</div>


