<div id="addEvent" style="max-width: 600px; margin: 10px auto;">
    <div class="title">
        <h4>ADD EVENT</h4>
    </div>

    <div class="formContainer">
        <form name="addEventForm" ng-submit="vm.addEvent(true)" novalidate>
            <h3>EVENT DETAILS</h3>
            <div class="form-section">
                <div class="form-group">
                    <input type="text" name="name" id="name" class="form-control" ng-model="vm.name" placeholder="Add a short, clear name" required />
                </div>

                <div class="form-group">
                    <div class="select-style">
                        <select ng-model="vm.eventCategory">
                            <option value="">Select an event category</option>
                            <option ng-repeat="category in vm.categories" value="{{category.id}}">{{category.category}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{dateDisplayFormat}}" ng-model="vm.eventDate" is-open="popup1.opened"  minDate="minDate" maxDate="maxDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="Your Event Date"/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="open1()"><i class="fa fa-calendar"></i></button>
                        </span>
                        </p>
                    </div>
                    <div>
                        <div rg-range-picker="timeRangePicker" on-time-change="whenTimeChange" labels="myDatetimeLabels" ></div>
                    </div>
                </div>

                <div class="form-group">
                    <textarea type="text" name="description" id="description" class="form-control" ng-model="vm.description" placeholder="Tell people more about the event" required ></textarea>
                </div>
            </div>

            <hr>

            <h3>EVENT LOCATION</h3>
            <div class="form-section">
                <div class="form-group" >
                    <input type="text" id="source_point" name="source_point" ng-model="vm.source_point" class="form-control" placeholder="Enter your event address here">
                    <p id="pickup_location"></p>
                    <input class="hidden" type="text" id="src_lat" name="src_lat" ng-model="vm.src_lat" placeholder="latitude">
                    <input class="hidden" type="text" id="src_long" name="src_long" ng-model="vm.src_long" placeholder="longitude">
                </div>
                <div id="source_map"></div>

                <div class="form-group hidden">
                    <label>City</label>
                    <input type="text" name="eventCity" id="eventCity" class="form-control" ng-model="vm.eventCity" placeholder="City" required />
                </div>

                <div class="form-group form-actions">
                    <button type="submit" class="btn btn-primary">Add Event</button>
                </div>
            </div>

            <hr>
        </form>

        <h3>UPLOAD IMAGE</h3>

    </div>
</div>