#busopp {
  .title{
    background-color: #ffffff;
    border: 1px solid;
    border-color: $primary-border-color;
    margin-top: 20px;
    margin-bottom: 10px;
    h4 {
      padding: 10px 15px;
    }
  }
}