@import "compass/css3/border-radius";
$orange-color-base: #e27325;

$tabs-bg-color: #ffffff;
$tabs-text-color: black;
$tabs-underline-color: $orange-color-base;

.directory {
	/*-- reset ul and li for directory --*/
	ul {
		list-style: none;
	}
	ul, li {
		margin: 0;
		padding: 0;
	}
	
	/*-- Tabs --*/
	.nav-tabs {
		position: relative;
		margin: 0 auto;
		width: 100%;
		height: 48px;
		border: 0px;
		margin: 10px 0;

		@media (max-width: 600px) {
			height: 36px;
		}

		li {
			text-align: center;
			height: 100%;
			width: 33%;
			&.active, {
				border-bottom: 5px solid $tabs-underline-color;
			}
			a {
				background-color: $tabs-bg-color;
				border: 0px;
				color: $tabs-text-color;
				display: block;
				width: 100%;
				height: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				transition: color .28s ease;
				&:hover {
					border: 0px;
					background-color: darken($tabs-bg-color, 10%);
					color: lighten($tabs-text-color, 20%);
				}
				&:focus, &:active {
					border: 0px;
				}
				will-change: left, right;
				@include border-radius(0px 0px, 0px 0px);

				i {
					display: none;

					@media (max-width: 600px) {
						display: block;
					}
				}

				span {
					display: block;

					@media (max-width: 600px) {
						display: none;
					}
				}
			}
		}
	}
	
	/*-- Members Directory --*/
	.directory-members {
		li {
			text-align: center;
			border: 1px solid black;
			margin: 2px;
			width: 32%;
			float: left;
			padding: 10px 15px;
			
			img{
				width: 100px;
				height: auto;
			}
		}
	}
	
	/*-- Companies Directory --*/
	.directory-companies {
		li {
			text-align: center;
			border: 1px solid black;
			margin: 2px;
			width: 49%;
			float: left;
			padding: 10px 15px;
			
			img{
				width: 100px;
				height: auto;
			}
		}
	}
	
	/*-- Events Directory --*/
	.directory-events {
		li {
			text-align: center;
			border: 1px solid black;
			margin: 2px;
			width: 49%;
			float: left;
			padding: 10px 15px;
		}
		
		img{
			width: 100%;
			height: auto;
		}
	}
}