/** Search Bar **/

/** Select Box **/
.select-style {
	color: $secondary-text-color;
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
	background-color: #fff;
	background: #E9E9EB url("../img/caret-down.png") no-repeat 95% 50%;
}

.select-style select {
	padding: 5px 8px;
	width: 100%;
	border: none;
	box-shadow: none;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.select-style select:focus {
	outline: none;
}