@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300);
@font-face {
	font-family: 'HelveticaNeueThin';
	src: url('../fonts/HelveticaNeueLTStd-Th.eot'); /* IE9 Compat Modes */
	src: url('../fonts/HelveticaNeueLTStd-Th.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/HelveticaNeueLTStd-Th.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/HelveticaNeueLTStd-Th.woff') format('woff'), /* Pretty Modern Browsers */
		url('../fonts/HelveticaNeueLTStd-Th.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/HelveticaNeueLTStd-Th.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
	padding-top: 70px;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 20px;
}

p, h1, h2, h3, h4, h5 {
	margin: 0;
}

/*-- reset a, ul and li --*/
ul {
	list-style: none;
}
ul, li {
	margin: 0;
	padding: 0;
}
a {
	cursor: pointer;
}

.uppercase {text-transform: uppercase;}