/*** Colors ***/
$primary-color: #202020 !default; /*black*/
$secondary-color: #f29b13 !default; /*orange*/
$success-color:  green !default; /*green*/
$error-color:  red !default; /*red*/
$link-color: #1795aa !default; /*blue*/

$primary-text-color:   #202020; /*black*/
$secondary-text-color: #717171; /*darkgray*/
$divider-color:        #b5b5b5; /*lightgray*/