/*** Colors ***/
$primary-color: #202020 !default; /*black*/
$secondary-color: #f29b13 !default; /*orange*/
$success-color:  green !default; /*green*/
$error-color:  red !default; /*red*/
$link-color: #1795aa !default; /*blue*/

$primary-text-color:   #202020; /*black*/
$secondary-text-color: #717171; /*darkgray*/

$primary-bg-color:   #E9EBEE; 
$secondary-bg-color: #F6F7F9; 

/*** Borders & Dividers **/	
$primary-border-color:	#e5e6e9 #dfe0e4 #d0d1d5; 
$primary-divider-color:	#E5E5E5; 
$secondary-divider-color:	#E1E2E3; 